extends layout

block content
  .row
    .col-xs-6.col-xs-offset-3
      div
         h1= title
      br
      br
  .row
    .col-xs-10.col-xs-offset-1
      form(method="GET", action="/search", )
        .form-group
          .input-group
            input#searchBar.form-control(type='text', placeholder='Search', name="needle", value=needle || "")
            span.input-group-btn
              button(class="btn btn-primary", type="submit") Search!

  .row
    .col-xs-10.col-xs-offset-1
      .row
        - for (let i = 0; i < data.length; i++)
          .col-sm-6.col-md-4.result-container
            .thumbnail
              img(src=data[i].artworkUrl100.replace("100x100bb", "200x200bb"), alt=data[i].artistName, class="img-responsive img-thumbnail ablum-cover")
              .caption
                h4(class="text-nowrap ellipsis")!= data[i].name || data[i].collectionName
                p 
                 .labels
                   - if (data[i].genreNames)
                    - for (let j = 0; j < (data[i].genreNames.length > 3 ? 3 : data[i].genreNames.length) ; j++)
                      span(class="label label-info genre-label" )= data[i].genreNames[j]
                   - else 
                    span(class="label label-info genre-label")= data[i].primaryGenreName
                p
                  a.btn.btn-primary(href=data[i].url || data[i].collectionViewUrl, target="_blank") More Detail


